
<div class="site-wrapper text-center">

	<div class="site-wrapper-inner">

		<div class="cover-container">
			<div class="inner cover">
				<h1 class="cover-heading">Vagabond</h1>
				<p class="lead">Discover your favorite spots within the best cities.</p>
				<p class="lead">
					<a href="/cities/sf" class="btn btn-lg btn-default">Explore</a>
				</p>
				

			</div>
			<div class="mastfoot">
				<div class="inner">
					<p>Created by <a href="https://github.com/JasonTasharski/Vagabond">Team EJAH</a></p>
				</div>
			</div>

		</div>

	</div>

</div>
<div id="map"></div>

