<div class="site-wrapper text-center">

	<div class="site-wrapper-inner">

		<div class="cover-container">
			<div class="inner cover">
				<div id="map">
					<iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/asantos3026.n5a3ea59/attribution,zoompan,geocoder,share.html?access_token=pk.eyJ1IjoiYXNhbnRvczMwMjYiLCJhIjoiZWZlMmMyM2JiN2ZiNzcxZmJkOGJhMWNhZWE4ODc1MjMifQ.Moj73Bv5_uyylRIcZkXcYg'></iframe>
				</div>
				<h1 class="cover-heading">Vagabond</h1>
				<p class="lead">Discover your favorite spots within the best cities.</p>
				<p class="lead">
					<a href="/cities/sf" class="btn btn-lg btn-default">Explore</a>
				</p>
			</div>
	<div class="mastfoot">
		<div class="inner">
			<p>Created by <a href="https://github.com/JasonTasharski/Vagabond">Team EJAH</a></p>
		</div>
	</div>

</div>

</div>

</div>

