
<div class="site-wrapper text-center">

	<div class="site-wrapper-inner">

		<div class="cover-container">
			<div class="inner-cover">
				<h1 class="cover-heading">Vagabond</h1>
				<p class="lead">Discover your favorite spots within the best cities.</p>
				<p class="lead">
					<a href="/cities/sf" class="btn btn-lg btn-default">Explore</a>
				</p>
				

			</div>
			<div class="mastfoot">
				<div class="inner">
					<p>Created by <a href="https://github.com/JasonTasharski/Vagabond">Team EJAH</a></p>
				</div>
			</div>

		</div>

	</div>

</div>
<div id="map"></div>

<!-- mapbox js -->
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.js'></script>
<script type="text/javascript">
  L.mapbox.accessToken = 'pk.eyJ1IjoiYXNhbnRvczMwMjYiLCJhIjoiZWZlMmMyM2JiN2ZiNzcxZmJkOGJhMWNhZWE4ODc1MjMifQ.Moj73Bv5_uyylRIcZkXcYg';
  var map = L.mapbox.map('map', 'mapbox.high-contrast', {zoomControl: false}).setView([30.449, -88.242], 2);
      
      // Disable drag and zoom handlers.
      map.dragging.disable();
      map.touchZoom.disable();
      map.doubleClickZoom.disable();
      map.scrollWheelZoom.disable();

// Disable tap handler, if present.
if (map.tap) map.tap.disable();

var myLayer = L.mapbox.featureLayer().addTo(map);

var geocoder = L.mapbox.geocoder('mapbox.places');


var geojson = {
  type: "FeatureCollection",
  features: [
  <% @cities.each do |c| %>
  {
    type: "Feature",
      properties: {
      title: "<%= c.city_name %>",
      "marker-size": "medium",
      "marker-color": "#7ec9b1",
      "marker-symbol": "suitcase",
      url: "/cities/<%= c.short_name %>"
    },
    geometry: {
      type: "Point",
      coordinates: [<%=c.longitude %>, <%=c.latitude%>]
    }
  },<% end %>
  ]
};

myLayer.setGeoJSON(geojson);
myLayer.on('click', function(e) {
    window.open(e.layer.feature.properties.url);
});	
</script>


