<div class="col-md-6 offset-3">
	<div class="form-group">
		<%= @post.title %><br>
		<%= @post.body %><br>
		<%= @post.user_id %><br>
		<hr>
		<%= link_to "All my posts", profile_path%>
	</div>
</div>