<div class="col-md-12">
	<div class="col-md-4"></div>
	<div class="col-md-4 post post-border">
		<div class="form-group">
			<h3><%= @post.title %></h3><br>
			<%= @post.body %><br>
			<%= @post.user_id %><br>
			<hr>
			<%= link_to "All my posts", profile_path%>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>