<h1>Cities#show</h1>
<% if current_user %>
<a href="/profile/<%= current_user.username %>/posts/new">Write a post</a>
<% else %>
<a href="/login">Log in to write a post</a>
<% end %>
<% @posts.each do |p| %>
<p><%= link_to p.title, user_post_path(p.user, p) %></p>
<% end %>
