// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cover {
	width:100%; 
	height: 100%;
	position: absolute;
	z-index: 1;
}

.bottom {
	margin-top: 600px;
}

#map { 
	background-size: cover;
	position: relative; 
	width:100%; 
	height: 100%;
}

.map-container {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}

h1.lead {
	font-size: 2em;
	margin-bottom: 20px;
}
